<div class="page-header">
  <h1><%=t '.title', :default => "Manage Comments"%></h1>
</div>
<% @comments.each do |comment| %>
  <div class="well">
    <dt>
    Article - <%= comment.article.heading %>
    </dt>
    <dd>
    <%= sanitize comment.commenter %> :
    <%= sanitize comment.comment %> </br></br>
    <div >
      <% if can? :edit, @comment %>
        <% if current_user.role=='admin' or comment.user_email == current_user.email %> <!--# TBD: fix cancan and remove this line-->
          <%= link_to 'edit', edit_article_comment_path(comment.article.id, comment.id), :class => 'btn' %>
        <% end %>
      <% end %>
      <% if can? :destroy, @comment %>
        <%= link_to 'delete', article_comment_path(comment.article.id, comment.id), :method => 'delete', :class => 'btn btn-danger' %>
      <%end%>
    </div>
    </dd>
  </div>
<% end %>
