<%= form_for @article, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :heading, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :heading, :class => 'text_field', :placeholder => 'Title of your article' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'input-xxlarge', :placeholder => 'Type in your article. You can use HTML.' %>
    </div>
  </div>

  <h2> Categories </h2>
  <%= render :partial => 'categories/form', :locals => {:form => f} %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), articles_path, :class => 'btn' %>
  </div>
<%end%>
