<div class="control-group">
  <%= f.label :name, 'Category:', :class => 'control-label' %>
  <%= f.text_field :name, :class => 'text-field' %>
</div>
<div class="well">
<%= f.fields_for :subcategories, html: { class: 'form-horizontal' } do |subcat_form| %>
  <%= render 'subcategories/form', f: subcat_form %>
<%end%>

<%= link_to_add_fields "Add Subcategory", f, :subcategories %>
</div>
<% unless f.object.nil? || f.object.new_record? %>
  <div class="control-group">
    <%= f.label :_destroy, 'Remove: ', :class => 'control-label' %>
    <%= f.check_box :_destroy, :class => 'check-box' %>
  </div>
<% end %>
<HR COLOR="#C0C0C0" SIZE="3">
