<!DOCTYPE html>
<html>
<head>
  <title>Article House</title>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Article House</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li class="disabled"><%= link_to 'Welcome '+current_user.email %></li>
              <li class="divider-vertical"></li>
              <li> <%= link_to "Sign Out", destroy_user_session_path, :method=> :delete %> </li>
            <%else%>
              <li><%= link_to "Sign In", new_user_session_path%></li> 
              <li class="divider-vertical"></li>
              <li><%= link_to "Sign Up", new_user_registration_path%></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% if notice or alert %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
    <%= alert %>
  </div>
  <%end%>


  <div class="container">
    <div class="row">
      <div class="span1"></div>
      <div class="span8"> <%= yield %> </div>

      <div class="span3">
        <%if user_signed_in? and current_user.role == 'admin' %>
          <ul class="nav nav-list pull-right">
            <li class="nav-header">Admin Panel</li>
            <li><%= link_to 'MANAGE USERS', users_url%></li>
            <li><%= link_to 'MANAGE ARTICLES', manage_articles_url%></li>
            <li><%= link_to 'MANAGE COMMENTS', comments_url%></li>
          </div>
        <%end%>
      </div>

    </div>
  </div>

</body>
</html>
